* {
    font-size: 15px;
    text-align: justify;
    color: #ff0000;
    margin: 3px;
}

body {
    background-image: url('https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/02/24/554657973.jpeg');
}